<section id="parallax">
    <h1>Clockwork Exercise</h1>
    <p>"Time is the most undefinable yet paradoxical of things; the past is gone,
      the future not come, and the present becomes the past, even while we attempt to define it."
    </p>
    <p>-- Charles Caleb Colton, some guy</p>
</section>

<section id="timebot">
  <app-timebot></app-timebot>
</section>

<section id="parallax">
  <h1>What even is time?</h1>
  <p>No seriously I don't know someone help</p>
</section>

<app-timezone-selector></app-timezone-selector>

<section id="parallax">
  <h1>Yeah boye</h1>
  <p>-- Flavor Flav, reality televion personality, time enthusiast</p>
</section>
