<div id="timezoneselector">
  <p>View the time from AROUND THE GLOBE</p>
<select
class="timeZoneSelect"
 id="timeZoneSelect"
  [(ngModel)]="selectedTimeZoneId">
  <ng-container *ngFor="let tz of timeZoneIds">
    <option [ngValue]="timeZoneIds.indexOf(tz)">{{tz}}</option>
  </ng-container>
</select>
<div *ngIf="selectedTimeZoneId">
  <button class="button"
  (click)="displayTime()"
  id="getSelectedDateTime"> Get the DateTime for {{ timeZoneIds[selectedTimeZoneId] }}</button>
</div>
<p *ngIf="worldTime" class="worldTime">
    Its {{ worldTime.convertedDateTime }} in {{ worldTime.requestedTimeZone }}! Wow!!
</p>
<div *ngIf="allWorldTimeQueries">
  <table id="sectiontable">
    <tr>
      <td>ID</td>
      <td>Requested 'zone</td>
      <td>Time in `zone</td>
    </tr>
    <tr *ngFor="let ctq of allWorldTimeQueries">
       <td>Request ID: {{ ctq.worldTimeQueryId }}</td>
       <td>{{ ctq.requestedTimeZone }}</td>
       <td>{{ ctq.utcTime | date:'shortTime' }}</td>
     </tr>
 </table>

 <div *ngIf="error">
   <p class="error">Something went horribly wrong!</p>
 </div>
</div>
</div>
